<div id='card'>
  <h1 class='name'>Arbind</h1>
  <%= image_tag 'me.jpeg' %>
  <h3 class='title'>I code for fun!</h3>
  <div class='links'>
    <a href='#' class='linkedin'>linkedin</a>
    <a href='#' class='twitter'>twitter</a>
  </div>
</div>
